.katik {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 0, 161);
    color: rgb(250, 250, 250);
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 490px;
    justify-content: center;

}

.KM {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(207, 206, 206);
    margin-top: -115px;
    margin-left: 630px;
}

.welcome {
    text-align: center;
    font-size: 20px;

}

.perkenalan {

    text-align: center;
}

#lp {
    justify-content: center;
    width: 1340px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    background-color: rgb(0, 0, 161);
    border-radius: 20px;
    cursor: pointer;

}

#kp {

    justify-content: center;
    width: 1340px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    color: aliceblue;
    background-color: rgb(66, 69, 224);
    border-radius: 20px;
    cursor: pointer;

}

.luas-persegi2 {

    text-align: center;
    background-color: rgb(0, 0, 161);
    color: aliceblue;
    padding-bottom: 20px;
    padding-top: 20px;

}

.gambar-persegi1 {

    text-align: center;
}

.hitung-luas-persegi {
    text-align: center;
    background-color: rgb(0, 0, 161);
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;

}

input[type="number"] {

    width: 1340px;
    height: 50px;
}

#hitungbuttonluas {

    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 161);
    margin-left: 600px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

}

#resetluas {
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgb(105, 4, 4);
    margin-left: 1200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.keliling-persegi {

    text-align: center;
    background-color: rgb(66, 69, 224);
    color: aliceblue;
    padding-bottom: 20px;
    padding-top: 20px;
}

.gambar-persegi2 {
    text-align: center;
}

.hitung-keliling-persegi {
    text-align: center;
    background-color: rgb(66, 69, 224);
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;


}

#hitungbuttonkeliling {
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgb(66, 69, 224);
    margin-left: 600px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;


}

#resetkeliling {
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgb(105, 4, 4);
    margin-left: 1200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

}
